body {
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.avatar-back {
  margin-top: 1rem;
  margin-left: 0px;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.msg-with-avatar {
  display: flex;
}

.avatar-name {
  text-align: center;
  margin-top: 0.35rem;
  font-weight: 900;
  font-size: larger;
}

.name {
  color: #028682;
  font-weight: 800;
  margin: 0px;
  margin-left: 0.75rem;
}

.message {
  margin-left: 0.75rem;
  margin-right: 1rem;
}

.timestamp {
  font-size: 0.80rem;
  padding-right: 1rem;
  text-align: right;
}

.notification {
  background-color: white;
  border-radius: 0px 8px 8px 8px;
  margin-top: 1rem;
  padding-right: 1.25rem;
}

.feed {
  /* color: white; */
  background: #c5c5c5;
  background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
  width: 20%;
  padding-left: 1.5rem;
  height: 90vh;
  overflow: auto;
}

#container {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
